*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: rgba(224, 235, 235,0.4);
    overflow: hidden;
}
h1{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 1%;
}
.container {
    width: 80%;
    margin:  auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gameCard {
    display: flex;
    height: 250px;
    width: 250px;
    background: rgb(224, 235, 235);
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    box-shadow: 0px 10px 13px -7px #000000,
    0px -7px 14px -17px rgba(0, 0, 0, 0);
    cursor: pointer;
}

img{
    display: block;
    width: 100%;
}
.clicked{
    color: red;
}

